body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #D8E2C9;
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}


.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   background-color: #F7F8EA;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.row  {
   display: flex;
   align-items: center;
   padding: 2rem 3rem;
   border-bottom: 2px solid #D8E2C9;
   justify-content: space-between;
   width: 100%;
}
.row > img {
   width: 5rem;
}
.navbar {
   word-spacing: 2rem;
}
.navbar > a {
   text-decoration: none;
   color: black;
}

.title {
   padding-top: 4rem;
   padding-bottom: 3rem;
   font-size: 3rem;
   font-family:initial;
}


.content {
   display: flex;
   flex-direction: flex-start;
   /* align-items:center; */
   /* flex-wrap: wrap; */
   width: 80%;
   background-color: #EDE8D4;
   border-radius: 20px;
   margin-bottom: 4rem;
}
.rev {
   display: flex;
}
 .review {
   display: flex;
   flex-direction: column;
   /* align-items: center;  */
   /* text-align: center; */
   width: 75%;
} 
/* 
.comment {
   display: flex;
   flex-direction: row;
   text-align: center;
} */